.services {
   padding-bottom: 120px;

   &__row {
      display: flex;
      margin-left: 10vw;
      gap: 30px;
      overflow: auto;
   }
}




.horizontal {
   overflow-x: hidden;
   padding-bottom: 120px;
}

.h2Sticky {
   position: absolute;
   top: 0px;
   left: 5vw;
   z-index: 10;
}

.animationWrap {
   display: flex;
   position: relative;
   z-index: 1;
}

.pinWrap {
   display: flex;
   padding-top: 120px;
   position: relative;
   z-index: 1;
}

.animationWrap {
   gap: 30px;
   padding-left: 5vw;
}

@media (max-width: 1440px) {
   .services {
      padding-bottom: 100px;
   }
}

@media (max-width: 1024px) {
   .services {
      padding-bottom: 80px;

      &__row {
         display: flex;
         margin: 0 auto;
         gap: 25px;
         overflow: visible;
         max-width: 950px;
         flex-wrap: wrap;
         justify-content: space-between;
      }
   }
}

@media (max-width: 768px) {
   .services {
      padding-bottom: 80px;

      &__row {
         display: flex;
         margin: 0 auto;
         gap: 25px;
         overflow: visible;
         max-width: 708px;
         flex-wrap: wrap;
         justify-content: space-between;
      }
   }
}

@media (max-width: 450px) {
   .services {
      padding-bottom: 80px;

      &__row {
         display: flex;
         margin: 0 auto;
         gap: 20px;
         overflow: visible;
         width: 100%;
         padding: 0px 15px 0px 15px;
         flex-wrap: wrap;
         justify-content: space-between;
      }
   }
}

@media (max-width: 320px) {
   .services {
      padding-bottom: 80px;

      &__row {
         display: flex;
         margin: 0 auto;
         gap: 20px;
         overflow: visible;
         max-width: 330px;
         flex-wrap: wrap;
         justify-content: space-between;
         padding: 0px 15px 0px 15px;
      }
   }
}
