.projects{

   &__row{
      display: flex;
      flex-wrap: wrap;
   }

   &__title{
      max-width: 500px;
   }
}


@media (max-width: 1440px) {
   
}

@media (max-width: 768px) {
   
}

@media (max-width: 1024px) {
   
}

@media (max-width: 450px) {
   
}