.form {
   position: relative;
   width: 100%;
   display: flex;
   flex-direction: column;
   padding: 30px;
   border: 1px solid var(--border-color);
   border-radius: 15px;

      &::after{
         content: '';
         position: absolute;
         top: 0;
         left: 0;
         z-index: 2;
         width: 100%;
         height: 100%;
         background: #1A1A1AF2 url('../media/5Tkz.gif') center / 100px no-repeat;
         opacity: 0;
         visibility: hidden;
         transition: all 0.5s ease;
      }

      &._sending::after{   
         opacity: 1;
         visibility: visible;
      }

      &__row{
         display: flex;
         justify-content: space-between;
         gap: 30px;
      }

		&__title {
         font-family: 'ProximaNova';
         font-size: 25px;
         margin-bottom: 35px;
		}

      &__change-title{
         color: var(--white-color);
         &::first-letter{
            text-transform: uppercase;
         }

      }

		&__item {
         position: relative;
         width: 42%;
         font-family: 'Gilroy';
         font-size: 14px;
         font-weight: 400;
		}

      &__inputImg{
         position: absolute;
         right: 15px;
         top: 13px;
      }

		&__lable {
         position: absolute;
         top: 17px;
         left: 15px;
         z-index: 1;
         transition: all 0.3s ease;
         pointer-events: none;
		}

		&__input {
         width: 100%;
         padding: 15px;
         border-radius: 5px;
         background-color: rgba(248, 248, 251, 0.05);
         border: 1px solid rgba(255, 255, 255, 0.1);
         color: var(--white-color);
         transition: all 0.3s ease;

         &:focus{
            border-color: var(--yellow);
            background-color: rgba(255, 255, 255, 0);
            
            & ~ .form__lable{
               top: -5px;
               font-size: 12px;
               background-color: var(--main-color);
               padding: 0 5px;
               color: var(--yellow);
            }

            & ~ .form__inputImg{
               fill: var(--yellow);
               opacity: 1;
            }
         }

         &:not(:placeholder-shown) ~ .form__lable{
            top: -5px;
            font-size: 12px;
            background-color: var(--main-color);
            padding: 0 5px;
            color: var(--yellow);
         }

         &:not(:placeholder-shown) ~ .form__inputImg{
            fill: var(--yellow);
            opacity: 1;
         }

         &:not(:placeholder-shown){
            background-color: rgba(255, 255, 255, 0);
         }

         &._error{
            border-color: red;
         }
		}

		&__button {
         width: 14%;
         padding: 15px 25px;
         background: linear-gradient(90deg, #FFDD2D, #FFC42D);
         border-radius: 5px;
         font-family: 'ProximaNova';
		}
}


@media (max-width: 1440px) {
   .form{
      &__button {
         width: 17%;
		}
   }
   
}

@media (max-width: 1024px) {
   .form{
      &__item{
         width: 40%;
      }

      &__button {
         width: 20%;
		}
   }
}

@media (max-width: 768px) {
   .form{
      &__item{
         width: 47%;
      }

      &__button {
         width: 30%;
		}

      &__row{
         flex-wrap: wrap;
      }
   }
}

@media (max-width: 450px) {
   .form {
      width: 100%;
      max-width: 400px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
   
         &__title {
            font-size: 22px;
            margin-bottom: 25px;
            text-align: center;
         }
   
         &__change-title{
            color: var(--yellow);
            text-transform: lowercase;
         }
   
         &__item {
            position: relative;
            width: 100%;
            max-width: none;
            font-size: 14px;
            font-weight: 400;
   
            &_first{
               margin-bottom: 20px;
            }
         }
   
         &__inputImg{
            right: 15px;
            top: 13px;
         }
   
         &__lable {
            top: 17px;
            left: 15px;
         }
   
         &__input {
            width: 100%;
            padding: 15px;
            border-radius: 5px;
   
            &:focus{
               border-color: var(--yellow);
               background-color: rgba(255, 255, 255, 0);
               
               & ~ .form__lable{
                  top: -5px;
                  font-size: 12px;
                  background-color: var(--main-color);
                  padding: 0 5px;
                  color: var(--yellow);
               }
   
               & ~ .form__inputImg{
                  fill: var(--yellow);
                  opacity: 1;
               }
            }
   
            &:not(:placeholder-shown) ~ .form__lable{
               top: -5px;
               font-size: 12px;
               background-color: var(--main-color);
               padding: 0 5px;
               color: var(--yellow);
            }
   
            &:not(:placeholder-shown) ~ .form__inputImg{
               fill: var(--yellow);
               opacity: 1;
            }
   
            &:not(:placeholder-shown){
               background-color: rgba(255, 255, 255, 0);
            }
         }
   
         &__button {
            margin-top: 25px;
            padding: 16px 25px;
            border-radius: 5px;
            width: 100%;
         }
   }
}